<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello2 페이지</title>
</head>
<body>
    <h1>안녕하세요!</h1>
    <p>이름: <span th:text="${name}"></span></p>
    <p>학번: <span th:text="${studentId}"></span></p>
    <p>학과: <span th:text="${department}"></span></p>
    <p>주차: <span th:text="${week}"></span></p>
    <p>메시지: <span th:text="${message}"></span></p>
    <!-- <p th:text="${data}"></p> -->
    </br>
    <a th:href="@{/}">메인화면</a>
</body>
</html>